/* Allgemein */

html {
  scroll-behavior: smooth;
}

body  {
  font-family: 'Nunito', sans-serif;
  color: rgba(63, 61, 86, 1);
  background: linear-gradient(142.03deg, #FFFFFF 25.73%, rgba(255, 255, 255, 0) 97.67%), #CCCCCC;
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px; 
  margin: 0;
  color: #D0826F;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  margin: 0;
  color: #D0826F;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color:rgba(63, 61, 86, 1);
}

.section {
  margin-top: 80px;
}

.section-claim {
  margin-top: -10px;
}

.section-description {
  margin-bottom: 30px;
}

/* Navbar */

.navbar {
  background-color: rgba(63, 61, 86, 1) !important;
}

.navbar-spacer {
  height: 40px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #D0826F !important;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
}

.nav-link {
  color: white !important;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
}

@media only screen and (max-width: 820px) {
  #navbar-btn {
    transform: scale(0.8);
  }
  .navbar-menu {
    display: none;
  }
}

/*Hero*/

.hero-text {
  width: 100%;
}

.main-img {
  margin: 0 2rem;
  width: 110%;
}

@media only screen and (min-width: 1400px) {
  .main-img {
    margin-left: -5%;
  }
}

@media only screen and (max-width: 960px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .main-img {
    margin: 40px auto;
  }
}



/*USP Section*/

.usp {
  margin-top: 15px;
  padding-right: 3%;
  min-width: 220px;
}

.icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Services */

.info-border {
  padding: 6px;
}


.info-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
  height: 200px;
}

/* References */

.avatar-small {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 20px;
  box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
}

/* Contact */

.contact-info {
  width: 100px;
  text-align: center;
}

.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 100px;
  box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
}

a {
  color: rgba(63, 61, 86, 0.8);
  font-weight: bold;
}

a:hover {
  color: rgba(63, 61, 86, 1);
  font-weight: bold;
}

.some-list {
  width: 100px;
  margin: 10px auto;
}

.some-list i {
  font-size: 24px;
  padding: 10px;
}

#mailchimp {
  background: transparent;
  color: #3D6392;
  padding: 20px 15px;
  text-align: center;
}

#mailchimp label {
  display: none;
}

#mce-MESSAGE {
  height: 100px;
}

#mailchimp input {
    border: medium none;
    color: rgba(101, 108, 161, 0.43);
    font-family: "Nunito";
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
    padding: 12px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
    -moz-box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
    -webkit-box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1);
  }
    #mailchimp input.email { background: #fff }
    #mailchimp input.name { background: #fff}
    #mailchimp input[type="submit"] {
      background: #3F3D56;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
      width: 35%;
      padding: 8px 0;
       border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      box-shadow: 0px 4px 20px rgba(101, 108, 162, 0.1) !important;
      transition: 0.3s;

    }
      #mailchimp input[type="submit"]:hover { box-shadow: 0px 5px 20px rgba(101, 108, 162, 0.45); transform: scale(1.05);}



/* Footer */

.footer {
  margin-top: 30px;
  background-color: rgba(63, 61, 86, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}

.footer-links a {
  color: white;
}


/* Buttons */

.signup-button {
  background: #3F3D56;
  border-radius: 5px; 
  color: white;
  text-align: center;
  padding: 0.7em 0.5em 0.7em 0.5em;
  width: 160px;
  box-shadow: 0px 4px 20px rgba(32, 61, 88, 0.25);
  margin-top: 1rem;
  font-weight: bold;
}

.signup-button-light {
  background: #D0826F;
  border-radius: 5px; 
  color: white;
  text-align: center;
  padding: 0.7em 0.5em 0.7em 0.5em;
  width: 160px;
  box-shadow: 0px 4px 20px rgba(32, 61, 88, 0.25);
  font-weight: bold;
  border: none;
}

.signup-button:hover {
  transform: scale(1.05);
}

.signup-button-light:hover {
  transform: scale(1.05);
}

a:hover {
  text-decoration: none; 
}


